#caixa {
    width: 300px;
    height: 300px;
    /*background: url("../images/camera.png");*/
    /*background: linear-gradient(to left, red, green);*/
    /*background: linear-gradient(80deg, red, green, yellow, black);*/
    background: radial-gradient(red, green, yellow);

}

#caixa h1 {
    background: rgba(255, 255, 255, 0.5);
}